.estudiantes-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.contenedor-tabla {
    width: 90%;
    max-height: 50vh;
    overflow-y: auto;
}

.contenedor-tabla table {
    border-radius: 10px;
}

.contenedor-tabla * {
    border: none !important;
    font-size: 1rem !important;
}

.celda-tabla {
    text-align: center !important;
    width: auto !important;
}

.celda-tabla span {
    font-size: 0.8rem !important;
    margin-left: 10px;
}

.contenedor-notificacion {
    position: absolute;
    top: 10px;
    left: 10px;
}

.badge.bg-warning {
    color: #000 !important;
}
