.registro-notas-contenedor {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.regitro-notas-contenido {
    display: flex;
    gap: 2rem;
}

.lista-notas {
    padding: 2rem;
    max-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    overflow-y: auto;
    background-color: #ffffffbb;
    border-radius: 10px;
}

.parametros-generales {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    background-color: #ffffffbb;
    border-radius: 10px;
    height: fit-content;
}

.tema-notas {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    align-items: start;
}

.tipo-nota {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contenedor-alertas {
    position: absolute;
    top: 10px;
    left: 10px;
}
